/* default css  */
*{
    margin: 0 auto;
    padding: 0
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding:0;
}
.container{
    background: #31b8d4;
}
/* header css  */

/* logo css  */
.logo_area{
    background: #0088cc;
    color:whitesmoke;
    border-radius: 5px;
    padding: 5px;
}
.logo {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    font-family: '', cursive;
    font-size: 50px;

}
.subLogo{
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    font-family: 'Yellowtail', cursive;
    font-size: 30px;

}

/* nav css  */
nav ul li{
    padding: 0;
}

.title{
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-size: 45px;
    padding: 10px;

}
.form_area{
    border-style: solid;
}
.input_form{
    padding: 5px;
}
.fileselect{
    background: whitesmoke;
}
.social-bookmark{
    position: fixed;
    right: 0;
    top: 35%;
    width: 40px;
    z-index: 9999;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}
.social-bookmark:hover{
    width: 300px;
}
.social-bookmark img{
    width: 55px;
}
.btn{
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    transition: all 1s;
    cursor: pointer
}
